.App {
  text-align: center;
}

.header {
  border: 3px solid black;

  margin-bottom: 10px;

}

.navbar {
  border: 3px solid rgb(191, 21, 21);
  padding: 3px;
  margin: 5px

}

.article-list {
  border: 3px solid rgb(30, 58, 137);
  padding: 3px;
  margin: 5px

}

.article-card {
  border: 3px solid rgb(30, 58, 137);
  padding: 3px;
  margin: 5px

}

.comment-card {
  border: 3px solid rgb(30, 58, 137);
  padding: 3px;
  margin: 5px

}

.comment-list {
  list-style: none;
}

.article-list {
  list-style: none;
}

.article-info {
  list-style: none;
}